<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>82019915120-d8l7ctiv4fh1k8v5pllrdfu83nuarpq4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82019915120-d8l7ctiv4fh1k8v5pllrdfu83nuarpq4</string>
	<key>API_KEY</key>
	<string>AIzaSyAvu3CMrBWFYfnmWh47BHvEdYJQGBfxEAE</string>
	<key>GCM_SENDER_ID</key>
	<string>82019915120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shira.BankHapoalim</string>
	<key>PROJECT_ID</key>
	<string>bankhapoalim-f5ac0</string>
	<key>STORAGE_BUCKET</key>
	<string>bankhapoalim-f5ac0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82019915120:ios:f845678a88cb02d89b2bb5</string>
</dict>
</plist>